*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Corporate";
    src: url("./fuentes/Corpo___.ttf");
}



body{
    background-color: black;
    color: white;
    font-family: "corporate";    
    
}



.logoTop{
    display: block;
    margin: auto;  
    
    
}
.footer a{
    margin: auto; 

}

.footer {
    position:fixed; 
    width: 100%; 
    bottom:0; 
    z-index:999999;
    display: flex;
    margin-bottom: 1%; 
    padding: 2% 0 2% 0;
    border-top: 2px solid rgb(121, 121, 121);
    border-bottom: 2px solid rgb(121, 121, 121);     
}

.iconFooter{
    width: 30px;    
}

/* .logo {
    text-align: center;
    padding: 20px;
    -webkit-animation: img-shadow ease-in-out 6s infinite;
    animation: img-shadow ease-in-out 6s infinite;
    width: 100%;
    font-size: xx-large;
}
@keyframes img-shadow {
    0% {
        filter: drop-shadow( 0px 0px 0px rgba(255,0,0,0.75));
    }

    50% {
        filter: drop-shadow( 0px 0px 25px rgba(255,0,0,0.75));
    }

    100% {
        filter: drop-shadow( 0px 0px 0px rgba(255,0,0,0.75));
    }
} */